*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
     background-color: rgb(227, 233, 231);
      height: 100vh;
}
header{
   text-align: center;
    background-color: rgb(227, 233, 231);
    color: rgb(38, 95, 99);
   padding: 30px;
   font-size: 30px;
}


main{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px rgb(38, 95, 99);
    background-color: white;
}

.fill{
    background-image: url('http://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: solid 5px #ccc;

}

.hovered{
    background-color: rgb(200, 230, 220);
    border-color: rgb(114, 155, 141);
    border-style: dashed;
}

footer{
    text-align: center;
    color:rgb(38, 95, 99);
   
}
@media (max-width:800px) {
    
    body{
        flex-direction: column;
    }
}